<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>드라마 랭킹</h1>
  <table border="solid 1px">
    <tr>
      <td>1위</td>
      <td>앨리먼트</td>
    </tr>
    <tr>
      <td>2위</td>
      <td>인어공주</td>
    </tr>
    <tr>
      <td>3위</td>
      <td>플래시</td>
    </tr>
  </table>
  <br />
  <hr />

</body>

</html>