<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h2>제목 : {{post.title}}</h2>
  <h4>작성시간 : {{post.date}}</h4>
  <h4>작성자 : {{post.author}} </h4>
  <hr />
  {% if post.photo %}
  <img src="{{ post.photo.url }}" alt="" height="300" />
  {% endif %}
  <p>{{post.content}}</p>
  {% if request.user == post.author %}
  <a href="{% url 'post_update' post.id %}">게시글 수정하기</a>
  <a href="{% url 'post_delete' post.id %}">게시글 삭제하기</a>
  {% endif %}
  <br /><br />
  <hr />



  <!--댓글 다는 곳-->
  {% if user.is_authenticated %}
  <form method="POST" action="{% url 'create_comment' post.id%}">
    {% csrf_token %} {{comment_form}}
    <input type="submit" />
  </form>
  {% else %}
  로그인 후 사용해주세요!!
  {% endif %}

  <hr />
  {% for comment in post.comment_set.all %}
  <h4>작성자 : {{comment.author}} </h4>
  <p>{{ comment}}</p>
  {% if request.user == comment.author %}
  <a href="{% url 'update_comment' post.id comment.id%}"> 수정</a>
  <a href="{% url 'delete_comment' post.id comment.id %}"> 삭제 </a>
  <hr />
  {%endif%}
  {% endfor %}
</body>

</html>